/* Resetando a formatação do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formatação para o menu superior */
header {
    display: block;
    width: 100%;
}

header nav {
    background-color: #F2EBF2;
    color: white;
    text-align: justify;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: inherit;
    font-size: 1.2em; /* Aumenta o tamanho da letra duas vezes */
    height: 2em; /* Aumenta a altura da barra duas vezes */
}

.itens-menu {
    background-color: #4B116F;
    font-family: "Century Gothic", sans-serif;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none; /* Remove o underline das palavras */
}

.itens-menu:hover {
    transform: translateY(-10px);
}

/* Formatação para os elementos do body*/
main {
    background-color: #F2EBF2;
    color: #4B116F;
    text-align: justify;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: large;
}

/* Formatação para o padrão do body */
body {
    display: block;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    border: solid #4B116F 10px;
    padding: 5px;
    background-color: #F2EBF2;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.texto-apresentacao {
    font-size: 1.0em;
    color: #4B116F;
    text-align: justify;
    text-indent: 2em;
    /* Adiciona recuo na primeira linha */
}

.possibilidades {
    font-size: 1.0em;
    color: #4B116F;
    text-align: justify;
    text-indent: 3em;
    /* Adiciona recuo na primeira linha */
}

/* Formatação para os elementos do rodapé */
footer {
    font-size: 0.8em;
    color: rgb(32, 54, 85);
    text-align: right;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}